Workflow Backup Github.json
{
  "name": "Workflow Backup Github",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "443b1699-c3e8-42a9-971a-f3633f024011",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -992,
        -224
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "af9638f8-92da-4b21-a7cf-cd69c9d60dcb",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -752,
        -224
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "LTbG9EmldI0lGyKD",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', {\n  timeZone: 'Asia/Kolkata'\n});\n\nreturn items.map(item => {\n  return {\n    json: {\n      fileName: `${item.json.name}.json`,\n      folder: today,\n      content: Buffer.from(\n        JSON.stringify(item.json, null, 2)\n      ).toString('base64')\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -208
      ],
      "id": "5010278b-eeb6-4d76-8914-137785229302",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=DealcerealSonu",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "=n8n-workflow"
        },
        "filePath": "=backup/{{$json.folder}}/{{$now.toFormat('HHmmss')}}-{{$json.fileName}}",
        "fileContent": "={{$json.content}}",
        "commitMessage": "=Automatic workflow backup"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "645eaee7-2e3e-43ba-9de0-cced7690159a",
      "name": "Create a file",
      "webhookId": "t7je5ece-ba14-4bd9-9f0c-5afe3090a80a",
      "credentials": {
        "githubApi": {
          "id": "jhSCBpmxRP50oBar",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        -224
      ],
      "id": "ada1232b-7f34-4fa4-afd5-371eae72fefb",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bxKGgZHCWnOGaQ8b"
  },
  "versionId": "d5f1026f-95d6-4c49-a721-39801b887dcf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30a823fd68428987ce0fd1144fcecb446a22fa24e3f95036644f861c20fd66hy"
  },
  "id": "ndVHtRPPAhL8aiWy",
  "tags": []
}
